SOAPAP/Connected Services/WSCFDI33/WSCFDI3341.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.appfacturainteligente.com/WSTimbrado33/WSCFDI33.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" />
  <xs:import schemaLocation="http://www.appfacturainteligente.com/WSTimbrado33/WSCFDI33.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TimbrarCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cadenaXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbrarCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="TimbrarCFDIResult" nillable="true" type="q1:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rFCEmisor" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaCFDI" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="clavePrivada_Base64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordClavePrivada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="CancelarCFDIResult" nillable="true" type="q3:RespuestaCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelacionAsincrona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rFCEmisor" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaCFDI" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="clavePrivada_Base64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordClavePrivada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelacionAsincronaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="CancelacionAsincronaResult" nillable="true" type="q5:RespuestaCancelacionAsincrona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstatusCancelacionAsincrona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstatusCancelacionAsincronaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="EstatusCancelacionAsincronaResult" nillable="true" type="q6:RespuestaEstatusCancelacionAsincrona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LogoBase64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ObtenerPDFResult" nillable="true" type="q7:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAcuseEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAcuseEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ObtenerAcuseEnvioResult" nillable="true" type="q8:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAcuseCancelacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAcuseCancelacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ObtenerAcuseCancelacionResult" nillable="true" type="q9:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordActual" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordNuevo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="CambiarPasswordResult" nillable="true" type="q10:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComplementoTimbre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComplementoTimbreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ConsultarComplementoTimbreResult" nillable="true" type="q11:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTimbrePorReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTimbrePorReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ConsultarTimbrePorReferenciaResult" nillable="true" type="q12:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTimbrePorSello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sello" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTimbrePorSelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ConsultarTimbrePorSelloResult" nillable="true" type="q13:RespuestaTFD33" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCreditos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCreditosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ConsultarCreditosResult" nillable="true" type="q14:RespuestaCreditos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComprobantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="filaInicial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComprobantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ConsultarComprobantesResult" nillable="true" type="q15:RespuestaReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarRFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarRFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ValidarRFCResult" nillable="true" type="q16:RespuestaValidacionRFC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeticionesPendientesCancelacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rFCReceptor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeticionesPendientesCancelacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ObtenerPeticionesPendientesCancelacionResult" nillable="true" type="q17:RespuestaPeticionesPendientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarAceptacionRechazo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rFCReceptor" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="uUIDs" nillable="true" type="q18:ArrayOfUUIDProcesarRespuesta" />
        <xs:element minOccurs="0" name="clavePrivada_Base64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordClavePrivada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarAceptacionRechazoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ProcesarAceptacionRechazoResult" nillable="true" type="q19:RespuestaAceptacionRechazo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDIConValidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rFCEmisor" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="listaCFDI" nillable="true" type="q20:ArrayOfDetalleCFDICancelacion" />
        <xs:element minOccurs="0" name="clavePrivada_Base64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordClavePrivada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCFDIConValidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="CancelarCFDIConValidacionResult" nillable="true" type="q21:RespuestaCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComprobantesRelacionados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RFCReceptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pfxReceptorBase64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwdPfx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarComprobantesRelacionadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TES.TFD.V33.Negocios" minOccurs="0" name="ConsultarComprobantesRelacionadosResult" nillable="true" type="q22:RespuestaRelacionados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>